.placement-wrapper{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7))  ,  url(../../img/placement.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.header-placement{
    font-size: 60px;
    color: white;
    padding: 50px 0;
    text-transform: uppercase;
    font-weight: bolder;
}

.info-para{
    color: white;
    width: 700px;
    margin: 100px auto;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    font-weight: 500;
    animation: pop 4s ease;
    font-size: 20px;
}

@keyframes pop{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}